# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/

# Ambientes virtuais (caso use algum localmente, fora do Docker)
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Variáveis de ambiente / segredos
.env
*.env

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker (volumes locais, se você criar algum)
*.log